<%- include ('../partials/header.html') %>

</head>

<body>

<!--NAVIGATION BAR FOR ADMIN-->
<%- include ('../partials/adminNav.html') %> <% include ('../partials/alerts.html') %>

<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-7">
      <div class="card">
        <div class="card-header text-center">
          <h4>Add Book</h4>
        </div>
        <div class="card-block">
          <form class="p-3" action="/admin/books/add" method="POST">
            <div class="form-group">
              <label class="form-control-label">Title</label>
              <input type="text" name="book[title]" placeholder="Book Title" class="form-control" required />
            </div>

            <div class="form-group">
              <label class="form-control-label">Author Name</label>
              <input type="text" name="book[author]" placeholder="Author Name" class="form-control" required />
            </div>

            <div class="form-group">
              <label class="form-control-label">ISBN</label>
              <input type="text" name="book[ISBN]" placeholder="ISBN" class="form-control" required />
            </div>

            <div class="form-group">
              <label class="form-control-label">Category</label>
              <input type="text" name="book[category]" placeholder="Book Category" class="form-control" required />
            </div>

            <div class="form-group">
              <label class="form-control-label">Stock</label>
              <input type="Number" name="book[stock]" placeholder="Book Stocks" class="form-control" required />
            </div>

            <div class="form-group">
              <label class="form-control-label">Book Description</label>
              <textarea name="book[description]" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Add Book</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
<script>
  CKEDITOR.replace("book[description]");
</script>

<% include ('../partials/footer.html') %>
