<%- include ('../partials/header.html') %>

</head>

<body>

<!--NAVIGATION BAR FOR ADMIN-->
<%- include ('../partials/adminNav.html') %>

<!--SHOW BOOK EDIT FORM-->
<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form action="/admin/book/update/<%=book._id%>" method="POST">
        <div class="form-group">
          <label for="title" class="form-control-label">Edit Title</label>
          <input name="book[title]" type="text" class="form-control" value="<%=book.title%>" />
        </div>

        <div class="form-group">
          <label for="author" class="form-control-label">Edit Author</label>
          <input name="book[author]" type="text" class="form-control" value="<%=book.author%>" />
        </div>

        <div class="form-group">
          <label for="category" class="form-control-label">Edit Catergory</label>
          <input name="book[category]" type="text" class="form-control" value="<%=book.category%>" />
        </div>

        <div class="form-group">
          <label for="author" class="form-control-label">ISBN</label>
          <input name="book[ISBN]" type="text" class="form-control" readonly value="<%=book.ISBN%>" />
        </div>

        <div class="form-group">
          <label for="stock" class="form-control-label">Stock</label>
          <input name="book[stock]" type="number" class="form-control" value="<%=book.stock%>" />
        </div>

        <div class="form-group">
          <label for="description">Edit Description</label>
          <textarea name="book[description]" cols="30" rows="10" class="form-control"><%=book.description%></textarea>
        </div>

        <button class="btn btn-block btn-primary">Update!</button>
      </form>
    </div>
  </div>
</div>

<script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
<script>
  CKEDITOR.replace("book[description]");
</script>
<% include ('../partials/footer.html') %>
