<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0 sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/admin">Home</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item px-2">
          <a class="nav-link" href="/admin/bookInventory/all/all/1">Book Inventory</a>
        </li>

        <li class="nav-item px-2">
          <a class="nav-link" href="/admin/users/1">Users</a>
        </li>

        <li class="nav-item px-2">
          <a class="nav-link" href="/admin/books/add">Add Books</a>
        </li>

        <li class="nav-item px-2">
          <a class="nav-link" href="/books/all/all/1">Browse Books</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown mr-3">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user"></i> Welcome <%=currentUser.username%>
          </a>
          <div class="dropdown-menu">
            <a href="/admin/profile" class="dropdown-item"> <i class="fa fa-user-circle"></i> Profile </a>

            <a href="/auth/admin-logout" class="dropdown-item"> <i class="fa fa-user-times"></i> Logout </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
