<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0">
   <div class="container">
      <a class="navbar-brand" href="/user/1">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item px-2">
            <a class="nav-link" href="/books/all/all/1">Browse Books</a>
          </li>
          
          </ul>
          <%if(currentUser) { %>
             <ul class="navbar-nav ml-auto">
            
            <%if(currentUser.violationFlag) { %>
              <li class="nav-item align-self-center mr-2">
                <i class="fa fa-flag text-danger"></i>
              </li>
            <% } %>
              <li class="nav-item dropdown mr-3">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-user"></i> Welcome <%=currentUser.username%>
                </a>
                <div class="dropdown-menu">
                  <a href="/user/1/profile" class="dropdown-item">
                    <i class="fa fa-user-circle"></i> Profile
                  </a>
      
                  <a href="/auth/user-logout" class="dropdown-item">
                    <i class="fa fa-user-times"></i> Logout
                  </a>
                </div>
              </li>
              
              <!-- <li class="nav-item">
                  <a href="/user/1/notification" class="nav-link">
                      <i class="fa fa-bell"></i><span class="badge badge-danger badge-pill">2</span>
                  </a>
              </li> -->
            </ul>
          <% } %>
         
      </div>
  </div>
</nav>