<%- include ('./partials/header1.html') %>

</head>

    <body>
        <content>
            <main class="main">
                <div class="dashboard-form">
                    <div class="header__logo">
                        <img src="/images/logo.png" alt="library manangement system logo">
                    </div>
                    <form class="form">
                        <div class="form__group">
                            <a href="/auth/admin-login" class="btn btn--blue" >Librarian Login</a>
                        </div>
                        <div class="form__group">
                            <a href="/auth/admin-signup" id="signuplink">Librarian SignUp</a>
                        </div>
                        <div class="form__group">
                            <a href="/auth/user-login" class="btn btn--blue">Student Login</a>
                        </div>

                        <div class="form__group">
                            <a href="/auth/user-signup" id="signuplink">Student SignUp</a>
                        </div>

                        <div class="form__group">
                            <a href="/books/all/all/1" class="btn btn--blue">Browse Books</a>
                        </div>
                    </form>
                </div>
            </main>
        </content>

    </body>
</html> 

<!-- works
} -->
