<%- include ('./partials/header1.html') %>

</head>

<body>

<!-- ALERTS -->
<%- include ('./partials/alerts.html') %>
<content>
  <main class="main">
      <div class="login-form">
          <div class="header__logo">
              <img src="/images/logo.png" alt="library management  logo"/>
          </div>
          <h2 class="heading-secondary ma-bt-lg" id="login-header" >SignUp as Librarian</h2>
          <form action="/auth/admin-signup" method="POST">
              <div class="form-group">
                  <label id="exampleInput1" for="exampleInputEmail1">Username</label>
                  <input type="name" name="username" class="form-control" id="exampleInput1" aria-describedby="emailHelp" placeholder="Enter username" minlength="5" required>
                </div>
              <div class="form-group">
                <label id="exampleInput1" for="exampleInputEmail1">Email address</label>
                <input type="email" name="email" class="form-control" id="exampleInput1" aria-describedby="emailHelp" placeholder="Enter email" required>
              </div>
              <div class="form-group">
                <label id="exampleInput1" for="exampleInputPassword1">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInput1" placeholder="Enter Password" minlength="8" required>
              </div>
              <div class="form-group">
                  <label  id="exampleInput1" for="exampleInputPassword1">Secret Code</label>
                  <input type="password" name="adminCode" class="form-control" id="exampleInput1" placeholder="Enter Secret Code" required>
                </div>
                <button type="submit" class="btn btn-primary">SignUp</button>
            </form>
      </div>
  </main>
</content>
</body>
</html>
