<%- include ('../partials/header.html') %>

<!-- </head>

<body> -->
<!--NAVIGATION BAR FOR USER-->
<%- include ('../partials/userNav.html') %>

<!--DASHBOARD SECTION-->
<!-- <header id="main-header" class="py-2 bg-info text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><i class="fa fa-bell"></i> Notifications</h1>
      </div>
    </div>
  </div>
</header> -->

<!--ACTIONS-->
<!-- <section id="actions" class="py-4 mb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mr-auto">
        <a href="/user/1" class="btn btn-light btn-block"> <i class="fa fa-arrow-left"></i> Back To Dashboard </a>
      </div>

      <div class="col-md-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search notifications..." />
          <span class="input-group-btn">
            <button class="btn btn-primary">Search</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>


<h1>This route is still under development. will be added in next version</h1> -->

<!-- <% include ('../partials/footer.html') %> -->
